---
layout: splash
title: "레드라쿤"
footer: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: "/assets/images/Color logo - no background-1.png"
  actions:
  - label: "About 레드라쿤"
    url: "/about/"
excerpt: "대한민국 No.1 사이버 보안 커뮤니티"
intro: 
  - excerpt: '레드라쿤은 누구나 배울 수 있는 사이버 보안 커뮤니티를 목표로 합니다.'
feature_row:
  - image_path: "/assets/images/RR Red.png"
    title: "레드팀"
    excerpt: "레드팀 관련 자료 모음"
    url: "/cheatsheet/red/"
    btn_label: "배우기"
    btn_class: "btn--primary"
  - image_path: "/assets/images/RR_Blue.png"
    title: "블루팀"
    excerpt: "블루팀 관련 자료 모음"
    url: "/cheatsheet/blue/"
    btn_label: "배우기"
    btn_class: "btn--primary"
  - image_path: "/assets/images/RR Green.png"
    title: "인텔"
    excerpt: "인텔 관련 자료 모음"
    url: "/cheatsheet/intel/"
    btn_label: "배우기"
    btn_class: "btn--primary"

---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}

