---
layout: splash
title: "Red Raccoon"
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: "/assets/images/Color logo - no background-1.png"
excerpt: "run by Groot, Choi and Min"
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}

